<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Variationthreshold" value="4.5" />
    <add key="OutputPath" value="../report" />
    <add key="BaselineURL" value="http://localhost:3001/ghost" />
    <add key="CurrentURL" value="http://localhost:3002/ghost" />
    <add key="screenshots" value="/screenshots" />
  </appSettings>
</configuration>